body {
  overflow: hidden;
}

.app-images {
  width: 500px;
  height: 500px;
  z-index: -1;
}

.showImageBtn {
  margin-top: 10rem;
  background-color: #d3d0cb;
  border: none;
  border-radius: 10px;
  padding: 3rem;
  font-weight: 700;
  font-size: larger;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.showImageBtn:hover {
  cursor: pointer;
  transform: scale(101%);
}

.showImageBtn:active {
  background-color: #a19b91;
  transform: scale(99%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
