* {
  font-family: Poppins;
}

body {
  background-color: #393e41;
  user-select: none;
  background-image: url(./assets/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

.navbar {
  width: 100%;
  height: 10vh;
}

.logo {
  position: relative;
  left: 5%;
  top: 10%;
  color: #d3d0cb;
  font-weight: 700;
  font-size: 3rem;
  background: linear-gradient(to right, #068d9d, #fff, #068d9d);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;
}
.logo:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.navbtn {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #068d9d;
  color: #eee;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-right: 2rem;
}

.navbuttons {
  position: relative;
  top: 20%;
  margin-right: 2rem;
  float: right;
}

.navbtn:hover {
  background-color: #046b76;
  cursor: pointer;
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.app-body {
  display: flex;
  justify-content: center;
  bottom: 10%;
  opacity: 0;
  animation: smooth-appear 600ms ease forwards;
}

.app {
  text-align: center;
  font-size: 1.5rem;
  border: none;
  margin: 2rem;
  background-color: #d3d0cb;
  width: 20vw;
  height: 20vh;
  border-radius: 1rem;
  transition: 200ms;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.app1:hover {
  background-image: url("https://i.pinimg.com/originals/9e/79/0c/9e790c869a6939ad84d519c331cb86cb.gif");
}
.app2:hover {
  background-image: url("https://media.tenor.com/-l_9sVGD6BAAAAAi/callie101-lol.gif");
}
.app3:hover {
  background-image: url("https://media.tenor.com/qJRMLPlR3_8AAAAi/maxwell-cat.gif");
  background-size: 220px;
  color: #fff;
}

.app:hover {
  cursor: pointer;
  transform: scale(120%);
  transition: 200ms ease-in-out;
}

.app:active {
  background-color: #a19b91;
  transform: scale(100%);
  transition: 100ms ease-in-out;
}

.contact-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: text;
  background: #d3d0cb;
  position: fixed;
  width: 50vw;
  height: 60vh;
  bottom: 20%;
  opacity: 0;
  border-radius: 20px;
  animation: smooth-appear 500ms ease forwards;
}

.contact-text {
  font-size: 1.5vw;
  margin-top: 2rem;
}

.contact-text-card {
  display: flex;
  flex-direction: column;
}
.footer {
  font-size: small;
  color: #555;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

@keyframes smooth-appear {
  to {
    bottom: 20%;
    opacity: 1;
  }
}

.idea-page {
  display: flex;
  flex-direction: column;
}

.idea-title {
  color: #d3d0cb;
}

.idea-app {
  position: relative;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  background-color: #d3d0cb;
  padding: 1rem;
  border-radius: 10px;
  height: 25vh;
  width: 30vw;
}

.idea-price {
  position: absolute;
  bottom: 0;
}

.idea-btn {
  margin-top: 7px;
  float: bottom;
  border: none;
  font-size: large;
  padding: 1rem;
  border-radius: 10px;
}

.idea-btn:hover {
  cursor: pointer;
  transform: scalex(101%);
  background-color: #a19b91;
  color: #fff;
}

.idea-btn:active {
  transform: scaleX(100%);
}

@media only screen and (max-width: 1100px) {
  .app-body {
    flex-direction: column;
  }
  .app {
    width: 70vw;
    height: 20vh;
    margin: 1rem;
  }

  .contact-card {
    flex-direction: column;
  }

  .ben-foto {
    width: 30vw;
  }

  .contact-text {
    margin-top: 5px;
  }

  .idea-app {
    width: 65vw;
    font-size: 20px;
  }
  .logo {
    font-size: 35px;
  }
  .navbuttons {
    transform: scale(75%);
    margin-right: 0;
    top: 10%;
  }
  .navbtn {
    width: 100px;
  }
  .app-images {
    transform: translate(-20%);
  }
}

@media only screen and (max-width: 800px) {
  .navbtn {
    margin-right: 0.6rem;
  }

  .ben-foto {
    width: 40vw;
  }

  .contact-text {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 590px) {
  .ben-foto {
    width: 45vw;
  }

  .contact-card {
    width: 80vw;
    height: 50vh;
  }

  .contact-text {
    font-size: 2.9vw;
  }
}
